* {
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    place-items: center;
    margin: 1em auto;
}

.outBox {
    width: min(90%, 60em);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p {
    font-size: 1.25rem;
    line-height: 1.5;
}

.bar-chart {
    border: dashed 2px #333;
    border-radius: 10px;
    background: white;
}

.bar {
    fill: orange;
}

.label {
    font-size: 0.8em;
}

.category {
    text-anchor: end;
}

.x-label, .y-label {
    font-size: 1.25em;
}

.textbox :first-child {
    margin-top: 0;
}

@media (min-width: 850px) {
    .col2 {
        display: flex;
        gap: 1em;
    }
    
}