* {
    font-family: sans-serif;
}

body {
    display: grid;
    place-items: center;
}

.bar-chart {
    position: relative;
    border: dashed 2px #333;
    border-radius: 10px;
    background: #eee;
}

.bar {
    fill: orange;
}

.label {
    font-size: 9pt;
}

.category {
    text-anchor: end;
}